.container-fluid{
    background-color: rgb(126, 125, 125);
}

footer{
    background-color: rgb(126, 125, 125);
}

.formulario {
    background: linear-gradient(#615e5e,#afacac);
    text-align: center;
}

form label {
    display:block;
    font-size: 20px;
    margin: 20px 0 10px;
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
}

.card {
    display:block;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 10px;
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
}

